.botao {
    background-color: rgb(12, 12, 207);
    padding: 8px 22px;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: .1s;
}

.botao:hover {
    transform: scale(1.1);
}